@{
    Layout = null;
    ViewBag.Title = "showpost";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MvcApplication6.Models.post
           @using MvcApplication6.Models
<html>
<head>
    <title>
        show post
    </title>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
       
    </style>
</head>
<body style="background-color:#1d5362">
    <div class=" container">
        <h2 style="color:black">@Model.tilte</h2>
        <div>
            <img src="~/Images/@Model.ImagePath" class="thumbnail" /> @*width="300"*@
            <strong style="color:black"><a href="/Home/DeletePost/@Model.post_id" style="color:black">Delete Post</a></strong>



            <h6 style="color:black">Price : @Model.prize</h6>
        </div>
        <div>
            <p style="color:black">Catagory:@Model.category</p>
        </div>
        <h3 style="color:black"><strong style="color:black">Comments:</strong></h3>
        <div id="commentBox">
            @foreach (Comment c in Session["commentList"] as List<Comment>)
            {
                <div class="col-md-8">
                    <pre>@c.comments</pre>
                    <p style="color:black">By @c.userse.username </p>

                </div>

            }
        </div>
        <br />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-1.8.2.intellisense.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

        <div class="col-md-8">
            <p style="color:black">Add new Commment</p>
            @using (Ajax.BeginForm("SaveComment", "Home", new AjaxOptions { UpdateTargetId = "commentBox", HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter }))
            { 
                <input hidden value="@(((userse)Session["user"]).Id)" name="userId" />
                <input hidden value="@Model.post_id" name="postId" />

                <textarea rows="5" style="width:740px;" name="comments" id="commentArea" required></textarea>
                <br>
                <button type="submit">Comment</button>
            }     
    @*<form action="/Home/SaveComment">
                <input hidden value="@(((userse)Session["user"]).Id)" name="userId" />
                <input hidden value="@Model.post_id" name="postId" />

                <textarea rows="4" style="width:740px;height:50px" name="comments" required></textarea>
                <br>
                <br>
                <button type="submit">Comment</button>
            </form>*@
        </div>
    </div>
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/npm.js"></script>
</body>

</html>

